### Q.1: Find the number of episodes?

In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\suravi\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
data = pd.read_excel('EDA_Shark_Tank_India.xlsx')
data.head()

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

In [3]:
number_of_episodes = data['episode_number'].nunique()
print('Total number of episodes are:' , number_of_episodes)

Total number of episodes are: 35

### Q.2: Max, min , mean of asked amount,asked equity, asked valuation?

In [4]:
data[["pitcher_ask_amount","ask_equity","ask_valuation"]].agg({"max","min","mean"})

      pitcher_ask_amount  ask_equity  ask_valuation
mean          319.854709    5.188034    3852.462479
min             0.001010    0.250000       0.010000
max         30000.000000   25.000000  120000.000000

### Q.3: Max & Min asked- equity,asked-valuation and asked amount episode-wise?

In [14]:
# Max Asked Equity, Valuation and Amount Episode Wise

max_episode_wise1 = data.groupby('episode_number')['ask_equity'].max()
max_episode_wise2 = data.groupby('episode_number')['pitcher_ask_amount'].max()
max_episode_wise3 = data.groupby('episode_number')['ask_valuation'].max()

max_episode_wise = pd.DataFrame({
    'Episode Wise': max_episode_wise2.index,
    'Max Asked Equity': max_episode_wise1.values,
    'Max Asked Amount': max_episode_wise2.values,
    'Max Asked Valuation': max_episode_wise3.values
})

print('Maximum asked episode wise:')
print(max_episode_wise)

Maximum asked episode wise:
    Episode Wise  Max Asked Equity  Max Asked Amount  Max Asked Valuation
0              1              15.0              50.0              1000.00
1              2               5.0              70.0              7000.00
2              3               4.0             100.0             40000.00
3              4              10.0              75.0              1875.00
4              5              20.0             100.0             10000.00
5              6              10.0             100.0             10000.00
6              7               7.5             100.0              7500.00
7              8               7.5              56.0              2000.00
8              9               5.0             100.0              2000.00
9             10               5.0              30.0              1500.00
10            11              25.0           30000.0            120000.00
11            12               5.0              75.0              1875.00
12            13              10.0              50.0              2500.00
13            14               5.0             100.0              3333.33
14            15               5.0              50.0              1250.00
15            16               7.0              80.0              2250.00
16            17              10.0             150.0              5000.00
17            18               4.0             100.0             10000.00
18            19               8.0             125.0             10000.00
19            20               5.0              65.0              3250.00
20            21              10.0             100.0              1250.00
21            22               5.0              80.0              3000.00
22            23               5.0             100.0             10000.00
23            24              10.0              40.0               500.00
24            25               4.0             150.0              7500.00
25            26              10.0              65.0              6500.00
26            27              10.0             100.0             10000.00
27            28               5.0              90.0              1875.00
28            29               5.0             100.0              2857.14
29            30              15.0             300.0             30000.00
30            31              10.0              75.0              3750.00
31            32               7.0             200.0              5000.00
32            33              10.0              40.0              3500.00
33            34              10.0             100.0             10000.00
34            35               8.0             100.0              4000.00

In [17]:
# Min Asked Equity, Valuation and Amount Episode Wise

min_episode_wise1 = data.groupby('episode_number')['ask_equity'].min()
min_episode_wise2 = data.groupby('episode_number')['pitcher_ask_amount'].min()
min_episode_wise3 = data.groupby('episode_number')['ask_valuation'].min()

min_episode_wise = pd.DataFrame({
    'Episode Wise': min_episode_wise2.index,
    'Min Asked Equity': min_episode_wise1.values,
    'Min Asked Amount': min_episode_wise2.values,
    'Min Asked Valuation': min_episode_wise3.values
})

print('Minimum asked episode wise:')
print(min_episode_wise)

Minimum asked episode wise:
    Episode Wise  Min Asked Equity  Min Asked Amount  Min Asked Valuation
0              1              5.00          25.00000               250.00
1              2              1.00          50.00000              1000.00
2              3              0.25          50.00000              1875.00
3              4              4.00          50.00000               500.00
4              5              1.00          10.00000                50.00
5              6              1.00          45.00000               500.00
6              7              1.00          50.00000               666.67
7              8              2.50          30.00000               746.67
8              9              2.50          50.00000              1000.00
9             10              2.00          25.00000               500.00
10            11              5.00          30.00000               300.00
11            12              3.00          40.00000               800.00
12            13              2.00          30.00000               500.00
13            14              3.00          45.00000               900.00
14            15              3.00           5.00000               100.00
15            16              2.00          45.00000              1071.43
16            17              3.00          50.00000               500.00
17            18              1.00          50.00000              1250.00
18            19              1.25          15.00000               300.00
19            20              2.00          35.00000               700.00
20            21              5.00          35.00000               470.00
21            22              2.00          50.00000              1500.00
22            23              1.00          30.00000               600.00
23            24              8.00          20.00000               200.00
24            25              2.00          50.00000              1250.00
25            26              1.00          50.00000               500.00
26            27              1.00           0.00101                 0.01
27            28              4.00          50.00000              1000.00
28            29              3.00          75.00000              1500.00
29            30              1.00          50.00000               500.00
30            31              2.00          50.00000               500.00
31            32              1.00          35.00000               583.33
32            33              1.00          35.00000               400.00
33            34              1.00          30.00000               400.00
34            35              2.50          40.00000               500.00

### Q.4: Brand names in which 2 ,3 or 4 sharks are invested?

In [19]:
brandname = data[(data['brand_name'].notnull()) & (data['total_sharks_invested'] <= 4) & (data['total_sharks_invested'] >1)]
index_order = brandname[['brand_name', 'total_sharks_invested']].reset_index(drop=True)
print('Brand in which number of sharks invested:')
print(index_order)

Brand in which number of sharks invested:
                        brand_name  total_sharks_invested
0              BluePine Industries                      3
1                    Booz scooters                      2
2              Heart up my Sleeves                      2
3                            Cosiq                      2
4                           Bummer                      2
5                      Revamp Moto                      2
6               Raising Superstars                      2
7                     Beyond Snack                      2
8   Vivalyf Innovations- Easy Life                      2
9                            Altor                      2
10                           Ariro                      2
11                         Nuutjob                      3
12                        Meatyour                      3
13                       EventBeep                      3
14                           Farda                      2
15                            LOKA                      3
16                           Annie                      3
17                       Caragreen                      2
18                 The Yarn Bazaar                      4
19               The Renal Project                      2
20                         Cocofit                      3
21                    Bamboo India                      2
22                    Beyond Water                      2
23                       Let's Try                      2
24                   Aas Vidyalaya                      3
25                         WeSTOCK                      4
26                      Get a Whey                      3
27                 The Quirky Nari                      2
28                  Hair Originals                      3
29                    The Sass Bar                      2
30              Watt Technovations                      4
31                        Humpy A2                      3
32        Gold Safe Solutions Ind.                      3
33                     Wakao Foods                      3
34                    Kabaddi Adda                      2
35                      Tweek Labs                      3
36                          Proxgy                      2
37              Nomad Food Project                      4
38                   Jain Shikanji                      4

### Q.5: Episode wise minimum and maximum of sharks invested?

In [20]:
min_sharks_invested = data.groupby('episode_number')['total_sharks_invested'].min()
max_sharks_invested = data.groupby('episode_number')['total_sharks_invested'].max()

episode_wise_sharks = pd.DataFrame({
    'Episode Wise': min_sharks_invested.index,
    'Min Sharks Invested': min_sharks_invested.values,
    'Max Sharks Invested': max_sharks_invested.values
})

print('Episode wise minimum and maximum sharks invested:')
print(episode_wise_sharks)

Episode wise minimum and maximum sharks invested:
    Episode Wise  Min Sharks Invested  Max Sharks Invested
0              1                    2                    3
1              2                    0                    1
2              3                    0                    1
3              4                    0                    2
4              5                    0                    2
5              6                    0                    5
6              7                    0                    2
7              8                    1                    2
8              9                    0                    2
9             10                    3                    3
10            11                    0                    2
11            12                    0                    3
12            13                    2                    4
13            14                    0                    2
14            15                    1                    3
15            16                    0                    2
16            17                    0                    5
17            18                    0                    1
18            19                    0                    4
19            20                    0                    5
20            21                    1                    3
21            22                    0                    3
22            23                    0                    1
23            24                    0                    2
24            25                    0                    5
25            26                    0                    1
26            27                    0                    4
27            28                    0                    3
28            29                    0                    3
29            30                    0                    2
30            31                    0                    1
31            32                    0                    1
32            33                    0                    3
33            34                    0                    4
34            35                    0                    4

### Q.6: Minimum and Maximum sharks invested in each episode?

In [21]:
episode_wise_min_max = data.groupby('episode_number')['total_sharks_invested'].agg(['min', 'max']).reset_index()
print('Episode-wise minimum and maximum sharks invested:')
print(episode_wise_min_max)

Episode-wise minimum and maximum sharks invested:
    episode_number  min  max
0                1    2    3
1                2    0    1
2                3    0    1
3                4    0    2
4                5    0    2
5                6    0    5
6                7    0    2
7                8    1    2
8                9    0    2
9               10    3    3
10              11    0    2
11              12    0    3
12              13    2    4
13              14    0    2
14              15    1    3
15              16    0    2
16              17    0    5
17              18    0    1
18              19    0    4
19              20    0    5
20              21    1    3
21              22    0    3
22              23    0    1
23              24    0    2
24              25    0    5
25              26    0    1
26              27    0    4
27              28    0    3
28              29    0    3
29              30    0    2
30              31    0    1
31              32    0    1
32              33    0    3
33              34    0    4
34              35    0    4

### Q.7: Brand names who ask for 1 crore and got a deal?

In [4]:
brands_with_deal_1_crore = data[(data['pitcher_ask_amount'] == 100) & (data['deal_amount'] == 100)]
brand_names_with_deal_1_crore = brands_with_deal_1_crore['brand_name'].reset_index(drop=True)
print('Brand names that asked for 1 crore and got a deal:')
print(brand_names_with_deal_1_crore)

Brand names that asked for 1 crore and got a deal:
0            Revamp Moto
1     Raising Superstars
2      The Renal Project
3             Get a Whey
4    Sunfox Technologies
5     Insurance Samadhan
Name: brand_name, dtype: object

### Q.8: Brand names where deal equity is between 0 to 50?

In [6]:
brands_between_0_to_50 = data[(data['deal_equity'] >= 0) & (data['deal_equity'] <= 50)]
brands_between_0_to_50 = brands_between_0_to_50['brand_name'].reset_index(drop=True)
print('Brand names where deal equity is between 0 to 50:')
print(brands_between_0_to_50)

Brand names where deal equity is between 0 to 50:
0      BluePine Industries
1            Booz scooters
2      Heart up my Sleeves
3               Tagz Foods
4           Head and Heart
              ...
111          Green Protein
112                On2Cook
113          Jain Shikanji
114                  Woloo
115           Elcare India
Name: brand_name, Length: 116, dtype: object

### Q9. Find the number of brands participated in each episode?

In [7]:
brands_participation = data.groupby('episode_number')['brand_name'].nunique().reset_index()
print('Number of brands participated in each episode:')
print(brands_participation)

Number of brands participated in each episode:
    episode_number  brand_name
0                1           3
1                2           3
2                3           3
3                4           3
4                5           3
5                6           3
6                7           3
7                8           3
8                9           3
9               10           3
10              11           3
11              12           3
12              13           3
13              14           3
14              15           3
15              16           4
16              17           4
17              18           4
18              19           4
19              20           3
20              21           3
21              22           4
22              23           4
23              24           3
24              25           3
25              26           3
26              27           4
27              28           3
28              29           3
29              30           4
30              31           4
31              32           4
32              33           4
33              34           4
34              35           3

### Q.10: How many sharks participated in this show and What were their names?

In [5]:
print("Name of all Sharks who are present in this season:\n",data.columns[11:18])
print("Total number of sharks participated: ",len(data.columns[11:18]))

Name of all Sharks who are present in this season:
 Index(['ashneer_present', 'anupam_present', 'aman_present', 'namita_present',
       'vineeta_present', 'peyush_present', 'ghazal_present'],
      dtype='object')
Total number of sharks participated:  7

### Q.11: Find appearance of each sharks?

In [4]:
for i in data.columns[11:18]:
    x = data[i].sum()
    print(f"{i} Appearance : {x}")

ashneer_present Appearance : 98
anupam_present Appearance : 117
aman_present Appearance : 98
namita_present Appearance : 106
vineeta_present Appearance : 66
peyush_present Appearance : 88
ghazal_present Appearance : 26

### Q.12: How many entrepreneurs were present?

In [7]:
Entrepreneurs_present= data["brand_name"].nunique()
print("Number of Entrepreneurs present in this season: ", Entrepreneurs_present)

Number of Entrepreneurs present in this season:  117

### Q.13: How many times each shark invested the deal?

In [5]:
for i in data.columns[18:25]:
    deal_count = data[i].sum()
    print(f"{i} total : {deal_count}")

ashneer_deal total : 21
anupam_deal total : 24
aman_deal total : 28
namita_deal total : 22
vineeta_deal total : 15
peyush_deal total : 27
ghazal_deal total : 7

### Q.14: Find the equity percent that each sharks gets?

In [6]:
for i in data.columns[18:25]:
    x = data[data[i] == 1]
    total_equity = data["equity_per_shark"].sum()
    
    if total_equity != 0:
        percentage = (x["equity_per_shark"].sum() / total_equity) * 100
        print("The equity percent", i, "gets: {:.2f}% of total equity".format(percentage))
    else:
        print("Total equity is zero.")

The equity percent ashneer_deal gets: 14.27% of total equity
The equity percent anupam_deal gets: 25.46% of total equity
The equity percent aman_deal gets: 24.53% of total equity
The equity percent namita_deal gets: 20.63% of total equity
The equity percent vineeta_deal gets: 20.13% of total equity
The equity percent peyush_deal gets: 48.35% of total equity
The equity percent ghazal_deal gets: 7.15% of total equity

### Q.15: Find the total number of amount invested in this show?

In [10]:
Amount_invested = data["deal_amount"].sum()
print("The total number of amount invested in this show: " , Amount_invested)

The total number of amount invested in this show:  3742.00106